.news_list{
	overflow: hidden;
	position: relative;
	width: 93.75%;
	margin: 2em auto;
	max-width: 1258px;
	.ccm-block-page-list-page-entry{
		overflow: hidden;
		border-bottom: 1px solid #d6d6d6;
		padding: 2.0em 1.5em;
		.left{
			width: 73px;
			height: 73px;
			border-radius: 50%;
			background-color: #2e3546;
			float: left;
			margin-right: 1.5em;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			&.empty{
				display: none;
			}
			@media only screen and (min-width: 960px) {
				&.empty{
					display: block;
				}	
			}
		}
		.right{
			.date{
				margin: 0 0 0.7em !important;
				color: #343d50 !important;
				font-weight: 700 !important;
				font-size: 1.12em !important;
				span{
					color: #343d50;
					font-weight: 500;
					padding-left: 5px;
				}
			}
			a{
				color: #113275;
				font-weight: 600;
				font-size: 1.14em;
				max-width: 900px;
				float: left;
				width: 83%;
			}
		}
		&:nth-child(6n+0) {
			.left{
				background-color: #2e3546;
			}
		}
		&:nth-child(6n + 1) {
			.left{
				background-color: #1a4f28;
			}
		}
		&:nth-child(6n + 2) {
			.left{
				background-color: #81be36;
			}
		}
		&:nth-child(6n + 3) {
			.left{
				background-color: #104f4f;
			}
		}
		&:nth-child(6n + 4) {
			.left{
				background-color: #199c9c;
			}
		}
		&:nth-child(6n + 5) {
			.left{
				background-color: #0e4385;
			}
		}
	}
}