.contactform{
	.ccm-dashboard-express-form, .form-actions, .captcha{
		fieldset{
			border: 0px;
		    padding: 0;
		    margin: 0;
		    .form-group{
			    margin-bottom: 1em;
			    label{
				   width: 150px; 
			    }
			    span.text-muted.small{
				    font-size: 0.5em;
					color: red;
			    }
		    }
		}
		input[type="text"], input[type="email"]{
		    display: block;
		    width: 100%;
		    box-sizing: border-box;
		    border-radius: 45px;
		    border: 1px solid #555;
		    font-size: 16px;
		    padding: 10px 20px;
		    margin-top: 0.25em;
		    font-family: "Montserrat", sans-serif;
		    font-weight: 400;
		    &:focus,&:hover{
			    outline: 0;
		    }
	    }
	    textarea{
		    display: block;
		    width: 100%;
		    box-sizing: border-box;
		    border-radius: 10px;
		    border: 1px solid #555;
		    font-size: 16px;
		    padding: 10px 20px;
		    margin-top: 0.25em;
		    height: 100px;
		    resize: none;
		    font-family: "Montserrat", sans-serif;
		    font-weight: 400;
		    &:focus,&:hover{
			    outline: 0;
		    }
	    }
		.ccm-captcha-image{
		    margin: 5px 0;
	    }
		button[type="submit"]{
			max-width: 250px;
		    width: 93%;
		    border-radius: 45px;
		    border: 0;
		    color: white;
		    font-family: 'Montserrat', sans-serif;
		    font-weight: 600;
		    -webkit-appearance: none;
		    appearance: none;
		    -ms-appearance: none;
		    background-color: #266f78;
		    outline: 0;
		    border: 0;
		    text-align: center;
		    font-size: 16px;
		    padding: 15px 0;
		    width: 100%;
		    color: white;
		    border-radius: 45px;
		    cursor: pointer;
		    -moz-transition: background-color 0.15s linear;
		    -webkit-transition: background-color 0.15s linear;
		    -o-transition-property: background-color 0.15s linear;
		    -ms-transition-property: background-color 0.15s linear;
		    transition-property: background-color 0.15s linear;
		    &:hover{
			    background-color: #184b4e;
		    }
		}
	}
}