@mixin transition($place, $time) {
	-moz-transition: $place $time linear;
	-webkit-transition: $place $time linear;
	-o-transition-property: $place $time linear;
	-ms-transition-property: $place $time linear;
	transition-property: $place $time linear;
}

.carousel.slideshow{
	.main_stage{
		width: 93.75%;
		max-width: 1060px;
		height: 400px;
		margin: 2em auto;
		position: relative;
		.img{
			width: 100%;
			height: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
		.newimg{
			width: 100%;
			height: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}
	.new_stage{
		width: 93.75%;
		max-width: 1060px;
		margin: 2em auto;
		text-align: center;
		.load_photo{
			display: inline-block;
			width: 50px;
			height: 50px;
			margin: auto;
			border: 1px solid black;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			@include transition(opacity, 0.15s);
			&:hover{
				opacity: 0.5;
			}
			&.active{
				opacity: 0.5;
			}
		}
	}
}