.feature_block.full{width:100%;height:250px;background-color:#343d50;background-size:cover;background-position:center center;background-repeat:no-repeat;display:block;position:relative;margin-bottom:0}.feature_block.full h3{color:white;width:93%;max-width:586px;position:absolute;bottom:10%;left:0;right:0;margin:auto !important;font-size:1.8em !important}.feature_block.full a{position:absolute;left:0;top:0;width:100%;height:100%;z-index:2}@media only screen and (min-width: 768px){.feature_block.full{height:0;padding-bottom:63.5%}.feature_block.full h3{left:8%;margin:0 !important}}

/*# sourceMappingURL=view.map */