.tweets{
	overflow: hidden;
	position: relative;
	width: 93.75%;
	margin: 1em auto 2em;
	max-width: 1258px;
	h3{
		color: #343d50;
		font-size: 2.6em !important;
		text-align: center;
		margin-top: 2em !important;
		span{
			font-weight: 300;
		}
	}
	.tweet{
		overflow: hidden;
		border-bottom: 1px solid #d6d6d6;
		padding: 2.0em 1.5em;
		.left{
			width: 73px;
			height: 73px;
			border-radius: 50%;
			background-color: #2e3546;
			float: left;
			margin-right: 1.5em;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-image: url(img/twittericon.png);
		}
		.right{
			p.title{
				margin: 0 0 0.7em !important;
				color: #343d50 !important;
				font-weight: 700 !important;
				font-size: 1.12em !important;
				a{
					color: #266f78;
					font-weight: 500;
					padding-left: 5px;
					&:hover{
						text-decoration: underline !important;
					}
				}
			}
			p.date{
				background-image: url(img/clock.png);
				background-size: 21px;
				background-repeat: no-repeat;
				background-position: left center;
				float: right;
				color: #343d50 !important;
				font-weight: 700 !important;
				font-size: 0.9em !important;
				padding-left: 30px;
			}
			p.text{
				color: #343d50;
				font-weight: 600 !important;
				font-size: 1.16em !important;
				max-width: 900px;
				float: left;
				width: 83%;
				a{
					color: #81be36;
					&:hover{
						text-decoration: underline !important;
					}
				}
			}
		}
	}
}