.feature_block{
	width: 100%;
	background-color: #363b45;
	overflow: hidden;
	position: relative;
	margin-bottom: 4em;
	.img{
		width: 100%;
		float: left;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
		left: 0;
		height: 250px;
	}
	.play_btn{
		width: 50px;
		height: 50px;
		background-color: #199c9c;
		border-radius: 50%;
		background-image: url(img/right_triangle.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 15px;
		position: absolute;
		z-index: 2;
		left: 1%;
		top: 220px;
		-webkit-box-shadow: 7px 10px 19px 2px rgba(0,0,0,0.2);
		-moz-box-shadow: 7px 10px 19px 2px rgba(0,0,0,0.2);
		box-shadow: 7px 10px 19px 2px rgba(0,0,0,0.2);
	}
	.link{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}
	.copy{
		width: 100%;
		float: right;
		height: calc(100% - 240px);
		.container{
			padding: 2em 6.5% !important;
			height: calc(100% - 4em);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			h1, h2, h3, h4, p, ul, li{
				color: white;
			}
			h3{
				font-size: 1.5em !important;
				margin: 0 0 0.25em !important;
			}
			p{
				font-size: 1.0em !important;
				line-height: 2.1em !important;
				margin-bottom: 1em !important;
				&:last-child{
					margin-bottom: 0 !important;
				}
				a{
					color: #199c9c;
					span{
						&.btn{
							color: white;
							font-size: 0.85em !important;
							padding: 0.83em 0 !important;
							text-align: center;
							width: 266px;
						}
					}
				}
			}
		}
	}
	&.right{
		.img{
			float: right;
		}
		.copy{
			float: left;
		}
		.play_btn{
			right: 1%;
			top: 220px;
			left: initial;
		}
	}
	&.top{
		position: relative;
		.link{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
		}
		.play_btn{
			top: 215px;
			right: 5%;
			left: initial;
			bottom: initial;
		}
		.img{
			position: relative;
			width: 100%;
			height: 240px;
			z-index: 1;
		}
		.copy{
			width: 100%;
			.container{
				h3{
					font-size: 1.88em !important;
				}
				p{
					font-size: 1.0em !important;
				}
			}
		}
	}
	@media only screen and (min-width: 960px) {
		.play_btn{
			width: 80px;
			height: 80px;
			bottom: 1%;
			top: initial;
		}
		.img{
			position: absolute;
			width: 50%;
			height: 100%;
		}	
		.copy{
			width: 50%;
		}
		.link{
			width: 50%;
		}
		&.right{
			.link{
				width: 50%;
				left: initial;
				right: 0;
			}
			.img{
				right: 0;
				left: initial;
			}
			.play_btn{
				bottom: 1%;
				top: initial;
			}
		}
		&.top{
			.play_btn{
				top: 200px;
			}
		}
	}
}
.col-sm-10{
	.feature_block{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		@media only screen and (min-width: 1100px) {
			width: 95%;
		}
	}
}