html{
	&.ccm-toolbar-visible{
		margin-top: 48px;
	}
	&.ccm-panel-right{
		body{
			margin-right: 320px !important;
		}
	}
	&.ccm-panel-left{
		body{
			margin-left: 320px !important;
			.container{
				.site_tree{
					width: 20% !important;
					margin-left: 320px !important;
				}
			}
		}
	}
	&.ccm-panel-detail-open{
		.ccm-panel-detail{
			display: block;
		}
	}
}
body#barebones{
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition-property: all 0.15s linear;
	-ms-transition-property: all 0.15s linear;
	transition-property: all 0.15s linear;
	&.loggedin{
		margin-top: 48px;
		.container{
			.site_tree{
				top: 5%;
			}
		}
	}
	.container{
// 		overflow: hidden;
		position: relative;
		.site_tree{
			float: left;
			width: 25%;
			position: fixed;
			left: 0;
			top: 0;
			height: 100%;
			background-color: #cfcfcf;
			border-right: 2px solid #5e5e5e;
			-moz-transition: all 0.15s linear;
			-webkit-transition: all 0.15s linear;
			-o-transition-property: all 0.15s linear;
			-ms-transition-property: all 0.15s linear;
			transition-property: all 0.15s linear;
			ul.nav{
				overflow: scroll;
			    height: 90%;
			    width: 92%;
			    padding: 5% 0;
			    margin: 0 auto;
			}
		}
		.content_area{
			width: 75%;
			float: right;
			.container{
				width: 93%;
				margin: 1em auto;
				.columns{
					float: left;
					overflow: hidden;
					padding: 0px;
					padding-left: 0;
					padding-right: 0;
				}
				.col-sm-30{
					width: 100%;
				}
				.col-sm-15{
					width: 50%;
				}
				.col-sm-14{
					width: 47%;
				}
				.col-sm-13{
					width: 43.4%;
				}
				.col-sm-12{
					width: 40%;
				}
				.col-sm-11{
					width: 36.7%;
				}
				.col-sm-10{
					width: 33.3%;
				}
				.col-sm-9{
					width: 30%;
				}
				.col-sm-8{
					width: 25%;
				}
				.col-sm-7{
					width: 25%;
				}
				.col-sm-6{
					width: 20%;
				}
				.col-sm-5{
					width: 16.6%;
				}
				.col-sm-4{
					width: 13.3%;
				}
				.col-sm-3{
					width: 10%;
				}
				.col-sm-2{
					width: 6.6%;
				}
				.col-sm-1{
					width: 3%;
				}
			}
		}
	}
}