html{
	&.ccm-toolbar-visible{
		margin-top: 48px;
	}
	&.ccm-panel-right{
		body{
			margin-right: 320px !important;
		}
	}
	&.ccm-panel-left{
		body{
			margin-left: 320px !important;
			.container{
				.site_tree{
					width: 20% !important;
					margin-left: 320px !important;
				}
			}
		}
	}
	&.ccm-panel-detail-open{
		.ccm-panel-detail{
			display: block;
		}
	}
}
//MIXINS
@mixin transition($place, $time) {
	-moz-transition: $place $time linear;
	-webkit-transition: $place $time linear;
	-o-transition-property: $place $time linear;
	-ms-transition-property: $place $time linear;
	transition-property: $place $time linear;
}

body#agilyx{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    @include transition(all, 0.15s);
	font-size: 80%;
	&.menu{
		overflow: hidden;
	}
	&.loggedin{
// 		margin-top: 48px;
		&.in_edit_mode{
			
			
		}	
		header{
			top: 48px;
		}
	}
	img{
		max-width: 100%;
		height: auto;
	}
	#content{
        #mobile_menu, #hero, #main_contents{
			h1{
				font-weight: 700;
				margin: 0;
				font-size: 3.2em;	
				line-height: 1.1em;
			}
			h2{
				font-weight: 700;
				margin: 0;
				font-size: 1.7em;	
				line-height: 1.1em;
				margin-bottom: 0.85em;
			}
			h3{
				font-weight: 700;
				margin: 0;
				font-size: 1.34em;
				line-height: 1.1em;
				margin-bottom: 0.85em;
			}
			h4{
				font-weight: 700;
				margin: 0;
				font-size: 1.1em;
				line-height: 1.1em;
				margin-bottom: 0.85em;
			}
			a{
				text-decoration: none;
			}
			p{
				font-weight: 500;
				margin: 0;
				font-size: 1.0em;
				line-height: 1.7em;
				
			}
            a{
				color: #8cc63d;
			}     
            span{  
				&.btn{
					display: inline-block;
					font-weight: 700;
					font-size: 1em;
					padding: 0.66em 4em;
					border-radius: 45px;
				}
				&.blue{
					background-color: #266f74;
					@include transition(all, 0.15s);
					color: white !important;
					&:hover{
						background-color: #184b4e;
					}
				}
				&.green{
					background-color: #81be36;
					@include transition(all, 0.15s);
					color: white !important;
					&:hover{
						background-color: #649627;
					}
				}
			}

		}
	}
	header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 90%;
// 		overflow: hidden;
		padding: 1.3em 5%;
		z-index: 2;
		background-color: rgba(38, 111, 116, 0.65);
		&.transparentBackground{
			background:transparent;
		}
		&.sticky{
			position: fixed;
		    width: 90%;
		    padding-left: 5%;
		    padding-right: 5%;
		    background-color: rgba(38, 111, 116, 0.65);
		    top: -300px;
		    padding: 10px 5%;
		    z-index: 5;
		    a{
			    &.logo{
				    width: 150px !important;
			    }
		    }
		    ul{
			    margin-top: 1.0em;
		    }
		}
		
		a{
			color:#ffffff;
			text-decoration: none;
			&.logo{
				width: 175px;
				display: block;
				float: left;
				@include transition(opacity, 0.15s);
				img{
					max-width: 100%;
					height: auto;
				}
				&:hover{
					opacity: 0.85;
				}
			}
			&.menu{
				color: white;
				font-size: 2em;
				float: right;
				margin-top: 10px;
			}
		}
		ul{
			margin: 1.28em 0 0;
			padding: 0;
			list-style: none;
			float: right;
			display: none;
			li{
				display: inline-block;
				margin-right: 1em;
				position: relative;
				a{
					color: white;	
					text-transform: uppercase;
					font-weight: 600;
					font-size: 1.0em;
					position: relative;
					padding-bottom: 0.6em;
					&:after{
						content: "";
						position: absolute;
						bottom: 0;
						width: 0%;
						left: 0;
						right: 0;
						margin: auto;
						background-color: #199c9c;
						height: 3px;
						@include transition(all, 0.15s);
					}
					&.nav-selected, &:hover{
						&:after{
							width: 100%;
						}
					}
				}
				ul{
					margin-top: 0;
					position: absolute;
					left: 0;
					top: 2em;
					background-color: rgba(129, 190, 54, 0.9);
					padding: 0 10px;
					opacity: 0;
					overflow: hidden;
					width: 215px;
					&.found{
						opacity: 1;
					}
					&.right{
						right: 0;
						left: initial;
						li{
							text-align: right;
						}
					}
					&.left{
						right: initial;
						left: 0;
						li{
							text-align: left;
						}
					}
					li{
						display: block;
						margin-right: 0;
						margin-bottom: 0.5em;
						margin-top: 15px;
						&:last-child{
							margin-bottom: 15px;
						}
						a{
							font-size: 0.95em;
							padding-bottom: 0.25em;
						}
					}
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	footer, .footer{
		background-color: #343d50;
		position: relative;
		overflow: hidden;
		font-size: 90%;
		.container{
			width: 93%;
			max-width: 1451px;
			margin: 0 auto;
			overflow: hidden;
			padding: 2.75em 0;
			h4{
				color: #a6a9b0;
				margin-bottom: 1.28em !important;
				font-size: 1.7em;
			}
			.nav{
				width: 92%;
				overflow: hidden;
				margin: 0 auto;
			}
			hr{
				border: 0;
			    height: 2px;
			    background: #2e3546;
			    width: 100%;
			    display: block;
			    margin: 2.2em 0;
			    float: left;
			}
			.col-sm-8{
				margin-bottom: 2em;
			}
			ul{
				margin: 0 0 3em;
				padding: 0;
				list-style: none;
				&:last-child{
					margin-bottom: 0;
				}
				li{
					margin-bottom: 1.0em;
					&:last-child{
						margin-bottom: 0;
					}
					a{
						font-weight: 500;
						color: #d6d6d6;
						font-size: 1.18em;
						position: relative;
						@include transition(color, 0.15s);
						text-decoration: none !important;
						&:after{
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0%;
							background-color: white;
							height: 1px;
							@include transition(width, 0.15s);
						}
						&:hover{
							color: white;
							&:after{
								width: 100%;
							}
						}
						strong{
							font-weight: 800;
						}
					}
				}
			}
			.copyright{
				width: 100%;
				overflow: hidden;
				p{
					color: #d6d6d6;
					display: block;
					font-size: 1.21em !important;
					position: relative;
					margin-top: 1.1em !important;
					&:before{
						content: "|";
						color: #d6d6d6;
						padding: 0 1.15em;
						display: none;
					}
					&:first-child{
						&:before{
							display: none;
						}
					}
					a{
						color: #d6d6d6;
						position: relative;
						@include transition(color, 0.15s);
						&:after{
							content: "";
							position: absolute;
							width: 0%;
							height: 1px;
							background-color: white;
							left: 0;
							bottom: 0;
							@include transition(width, 0.15s);
						}
						&:hover{
							color: white;
							&:after{
								width: 100%;
							}
						}
					}
				}
				a{
					&.logo{
						width: 175px;
						display: block;
						float: left;
						margin-top: 1em;
						@include transition(opacity, 0.15s);
						img{
							max-width: 100%;
							height: auto;
						}
						&:hover{
							opacity: 0.85;
						}
					}
				}
			}
		}
	}
	#mobile_menu{
		position: fixed;
		left: 100%;
		top: 0;
		width: 100%;
		height: 100vh;
		background-color: #81be36;
		z-index: 2;
		a.close{
			color: white !important;
			position: absolute;
			top: 2.5%;
			right: 3%;
			font-size: 2.5em;
		}
		ul{
			padding: 0;
			list-style: none;
			margin-top: 7em;
			width: 90%;
		    margin-left: auto;
		    margin-right: auto;
			li{
				text-align: left;
				padding-bottom: 0.6em;
				margin-bottom: 1em;
				a{
					color: white !important;	
					text-transform: uppercase;
					font-weight: 600;
					font-size: 1.5em;
					position: relative;
					padding-bottom: 0.3em;
					i{
						margin-left: 10px;
					    font-size: 28px;
					    position: absolute;
					    top: -1px;
					    font-weight: 900;
					    right: -30px;
					    @include transition(rotate, 0.15s);
					}
					&.opened{
						i{
							-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
							-moz-transform: rotate(180deg);        /* FF */
							-o-transform: rotate(180deg);          /* Opera */
							-ms-transform: rotate(180deg);         /* IE9 */
							transform: rotate(180deg);             /* W3C compliant browsers */
						}
					}
					&:after{
						content: "";
						position: absolute;
						bottom: 0;
						width: 0%;
						left: 0;
						right: 0;
						margin: auto;
						background-color: #199c9c;
						height: 3px;
						@include transition(all, 0.15s);
					}
					&.nav-selected, &:hover{
						&:after{
							width: 100%;
						}
					}
				}
				ul{
					padding-top: 0;
					overflow: hidden;
					margin-top: 0;
					li{
						&:first-child{
							padding-top: 16px;
						}
						&:last-child{
							margin-bottom: 0;
						}
						a{
							font-size: 1.25em;
						}
					}
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	#hero{
		width: 100%;
		height: 80vh;
		position: relative;
		font-size: 80%;
		background-color: #343d50;
		.container{
			width: 93%;
			max-width: 1160px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			h1, h2, h3, h4, p, a{
				color: white;
				margin: 0;
			}
			h1{
				margin-bottom: 0.21em;
			}
			p{
				margin-bottom: 1.75em;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&.smaller{
			.container{
				top: 70%;
			}
		}
		a.scroll{
			width: 54px;
			height: 54px;
			background-image: url(../img/down_circle.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 3em;
			margin: auto;
			@include transition(all, 0.15s);
			&:hover{
				opacity: 0.85;
			}
		}
	}
	#main_contents{
		ul, ol{
			font-weight: 500;
			margin: 1.5em 0;
			font-size: 1.0em;
			line-height: 1.7em;
			a{
				span{
					&.btn{
						display: inline-block;
						font-weight: 700;
						font-size: 0.62em;
						padding: 0.66em 4em;
						border-radius: 45px;
					}
					&.blue{
						background-color: #266f74;
						@include transition(all, 0.15s);
						&:hover{
							background-color: #184b4e;
						}
					}
				}
			}
		}
	}
	.container{
 		overflow: hidden;
		position: relative;
 		padding: 1.5em 0;
 		&.no-pad{
	 		padding: 0em 0 3em;
	 		.expand_form{
		 		margin-bottom: 5em;
				&:after{
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 8px;
					background-image: url(../img/colorbar.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
	 		}
 		}
		.row{
			max-width: 1060px;
			width: 93.75%;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
			&.wide{
				max-width: 1500px;
			}
			&:first-child{
				padding: 1.5em 0;
			}
			&.top{
				max-width: 1300px;
				padding-bottom: 3em;
				margin-bottom: 3em;
				&:after{
					content: "";
					position: absolute;
					bottom: 0;
					width: 30px;
					height: 3px;
					left: 0;
					right: 0;
					margin: auto;
					background-color: #81be36;
				}
			}
		}
		.expand_form{
			background-color: #343d50;
			overflow: hidden;
			position: relative;
			h4{
				color: #a6a9b0;
				text-align: center;
				margin: 1.5em 0 !important;
			}
			form{
				.holder{
					width: 93%;
					max-width: 1060px;
					margin: 0 auto;
					overflow: hidden;
					margin-bottom: 3em;
					position: relative;
					i{
						position: absolute;
					    width: 1px;
					    height: 80%;
					    background-color: white;
					    left: 5px;
					    top: 10%;
					    animation-name: blink;
					    animation-duration: 800ms;
					    animation-iteration-count: infinite;
					    opacity: 1;
					}
					@keyframes blink {
					    from { opacity: 1; }
					    to { opacity: 0; }
					}
				}
				input[type="text"]{
					box-sizing: border-box;
					background-color: #495162;
					border: 0;
					outline: 0;
					color: white;
					font-size: 1.11em;
					padding: 1.0em 0;
					width: 100%;
					border-radius: 45px;
					padding-left: 18%;
					font-family: 'Montserrat', sans-serif;
					& + i{
						display: none;
					}
					&#question{
						width: 100%;
						font-size: 1.5em;
						background-image: url(../img/name_icon.png);
						background-position: 3% center;
						background-repeat: no-repeat;
						background-size: 30px;
						padding: 0.58em 7.5% 0.58em 13.5%;
						@include transition(width, 0.15s);
						&.more{
							width: 100% !important;
						}
					}
					&#name{
						background-image: url(../img/name_icon.png);
						background-position: 8.2% center;
						background-repeat: no-repeat;
						background-size: 30px;
						width: 100%;
						padding-left: 20%;
						padding-right: 7%;
						margin-right: 2.75%;
						float: left;
						margin-bottom: 1em;
					}
					&#email{
						background-image: url(../img/email_icon.png);
						background-position: 8.2% center;
						background-repeat: no-repeat;
						background-size: 30px;
						width: 100%;
						padding-left: 20%;
						padding-right: 7%;
						margin-right: 2.75%;
						float: left;
					}
				}
				input[type="submit"]{
					font-family: 'Montserrat', sans-serif;
					font-weight: 600;
					-webkit-appearance: none;
					appearance: none;
					-ms-appearance: none;
					background-color: #81be36;
					outline: 0;
					border: 0;
					text-align: center;
					font-size: 1.11em;
					padding: 1.08em 0;
					width: 100%;
					color: white;
					border-radius: 45px;
					cursor: pointer;
					float: left;
					margin-top: 1em;
					@include transition(background-color, 0.15s);
					&:hover{
						background-color: #6ba029;
					}
				}
				.expand{
					width: 100%;
					float: right;
					background-color: #81be36;
					background-image: url(../img/right_arrow.png);
					background-repeat: no-repeat;
					background-size: 20px;
					background-position: center center;
					padding: 1.85em 0;
					border-radius: 45px;
					margin-top: 1.5em;
					@include transition(background-color, 0.15s);
					&:hover{
						background-color: #649627;
					}
				}
				.col_holder{
					width: 100%;
					margin: 0 auto;
					overflow: hidden;
					font-size: 90%;
					margin-bottom: 2em;
				}
				.col{
					float: left;
					position: relative;
					width: 100%;
					margin-right: 5%;
					&:last-child{
						width: initial;
						float: left;
						margin-right: 0;
					}
					&:nth-child(2){
						margin-top: 2.8em;
					}
					p{
						color: #a6a9b0;
						font-weight: 700 !important;
						font-size: 1.5em !important;
						margin-bottom: 0.3em !important;
						margin-top: 0 !important;
					}
					span{
						color: white;
						font-weight: 500;
					}
					input[type="checkbox"]{
						position: relative;
						margin-bottom: 1.5em;
					}
					input[type="radio"]{
						position: relative;
						margin-bottom: 1.5em;
						&:before{
							content: "";
							position: absolute;
							left: -3px;
							top: -3px;
							width: 18px;
							height: 18px;
							background-color: #a6a9b0;
							border-radius: 50%;
						}
						&.active{
							&:after{
								content: "";
								position: absolute;
								left: -1px;
								top: -1px;
								width: 14px;
								height: 14px;
								background-color: white;
								border-radius: 50%;
							}
						}
					}
				}
				.collapse{
					width: 100%;
					float: right;
					background-color: #266f74;
					background-image: url(../img/up_arrow.png);
					background-repeat: no-repeat;
					background-size: 20px;
					background-position: center center;
					padding: 2em 0;
					border-radius: 45px;
					@include transition(background-color, 0.15s);
					margin-top: 1em;
					cursor: pointer;
					&:hover{
						background-color: #184b4e;
					}
				}
				.hidden{
					background-color: #3a4356;
					.holder{
						margin-bottom: 0;
						padding: 3em 0;
					}
				}
				::placeholder {
					color: #c7c9cd;
					font-weight: 500;
				}
				:-ms-input-placeholder {
					color: #c7c9cd;
					font-weight: 500;
				}
				::-ms-input-placeholder {
					color: #c7c9cd;
					font-weight: 500;
				}
			}
			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 8px;
		 		background-image: url(../img/colorbar.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
	 		}
		}
		table{
			&.plain{
				border: 0px;
				td{
					border: 0;
				}
			}
		}
		.sub_nav{
			background-color: #0b3366;
			width: 100%;
			position: relative;
			font-size: 82%;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 8px;
				background-image: url(../img/colorbar.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
			}
			ul{
				margin: 0;
				padding: 3.8em 0px 3.4em 0;
				list-style: none;
				text-align: center;
				li{
					display: inline-block;
					margin-right: 4.5%;
					&:last-child{
						margin-right: 0;
					}
					a{
						color: white;
						font-weight: 700;
						font-size: 0.9em;
						position: relative;
						&:after{
							position: absolute;
							content: "";
							bottom: -5px;
							left: 0;
							right: 0;
							margin: auto;
							width: 0%;
							height: 2px;
							background-color: white;
							@include transition(width, 0.15s);
						}
						&:hover{
							&:after{
								width: 100%;
							}
						}
					}
				}
			}
		}
		.columns{
			float: left;
			overflow: hidden;
			padding: 0px;
			padding-left: 0;
			padding-right: 0;
		}
		.columns{
			width: 100%;
		}
	}
	&.page-home{
		#hero{
			width: 100%;
			height: 100vh;
		}
		.container{
			.row{
				max-width: 1024px;
			}
		}
		.expand_form{
			&:after{
				display: none;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		font-size: 85%;	
		#mobile_menu{
			display: none;
		}
		#hero{
			font-size: 90%;
		}
		.container{
			.expand_form{
				form{
					input[type="text"]{
						padding: 1.45em 0;
						&#question{
							width: 80%;
							font-size: 1.2em;
							padding: 0.92em 5.5% 0.92em 8%;
						}
						&#name, &#email{
							width: 32%;
							padding: 1.08em 5.5%;
							padding-left: 7%;
							margin-bottom: 0;
						}
					}
					input[type="submit"]{
						width: 22.5%;
						margin-top: 0;
					}
					.expand{
						width: 16.5%;
						padding: 1.85em 0;
						margin-top: 0;
					}
					.collapse{
						width: 3.7em;
						padding: 0;
						height: 3.7em;
						margin-top: 0;
					}
					.col_holder{
						width: 93.75%;
						font-size: 100%;
					}
					.col{
						width: initial;
						margin-right: 0;
						width: 30%;
						&:last-child{
							width: initial;
							float: right;
						}
						&:nth-child(2){
							margin-left: 8%;
							margin-top: 5.8em;
						}
					}
				}
			}
			.sub_nav{
				font-size: 100%;
			}
		}
		footer{
			.container{
				.col-sm-8{
					width: 50%;
				}
			}
		}
	}
	@media only screen and (min-width: 960px) {
		font-size: 90%;
		header{
			padding: 1.5em 5%;
			a{
				&.logo{
					width: 180px;
				}
				&.menu{
					display: none;
				}
			}
			ul{
				display: block;
				li{
					a{
						font-size: 1em;
					}
				}
			}
		}
		#hero{
			font-size: 100%;
		}
		footer{
			.container{
				.col-sm-8{
					width: initial;
					float: left;
					margin-right: 9%;
					margin-bottom: 0;
					&:last-child{
						margin-right: 0;
					}
				}
				.copyright{
					width: 97%;
					margin: 0 auto;
					p{
						float: left;
						&:before{
							display: inline;
						}
					}
					a{
						margin-top: 0;
						&.logo{
							width: 180px;
							float: right;
						}
					}
				}
			}
		}
		.container{
			.columns{
				float: left;
				overflow: hidden;
				padding: 0px;
				padding-left: 0;
				padding-right: 0;
				.narrow{
					max-width: 1060px;
					margin: 0 auto;
				}
			}
			.columns{
				width: 100%;
			}
			.col-sm-30{
				width: 100%;
			}
			.col-sm-15{
				width: 49%;
				margin-right: 2%;
				&:last-child{
					margin-right: 0;
				}
			}
			.col-sm-14{
				width: 47%;
			}
			.col-sm-13{
				width: 43.4%;
			}
			.col-sm-12{
				width: 40%;
			}
			.col-sm-11{
				width: 36.7%;
			}
			.col-sm-10{
				width: 33.3%;
			}
			.col-sm-9{
				width: 30%;
			}
			.col-sm-8{
				width: 25%;
			}
			.col-sm-7{
				width: 25%;
			}
			.col-sm-6{
				width: 20%;
			}
			.col-sm-5{
				width: 16.6%;
			}
			.col-sm-4{
				width: 13.3%;
			}
			.col-sm-3{
				width: 10%;
			}
			.col-sm-2{
				width: 6.6%;
			}
			.col-sm-1{
				width: 3%;
			}
			.sidebar{
				width: 350px;
				@media only screen and (max-width: 767px) {
					p span.btn{
						width: 100% !important;
					    padding: 0.66em 0 !important;
					    text-align: center !important;
					}
				}
			}
			.notsidebar{
				margin-left: 50px;
				width: calc(100% - 400px);
			}
			.expand_form{
				form{
					input[type="text"]{
						&#name, &#email{
							padding-left: 6%;
							padding-right: 6%;
						}
					}
					.col{
						&:nth-child(2){
							margin-left: 8.5%;
						}
					}
				}
			}
			.row{
				&.wide{
					.col-sm-10{
						width: 32%;
						margin-right: 2%;
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
			.with_padding{
				.col-sm-10{
					width: 32%;
					margin-right: 2%;
					&:last-child{
						margin-right: 0;
					}
				}
                                .col-sm-7{
					width: 23.5%;
					margin-right: 2%;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 1200px) {
		font-size: 95%;
		header{
			a{
				&.logo{
					width: 180px;
				}
			}
			ul{
				li{
					margin-right: 2em;
					a{
						font-size: 1.0em;
					}
				}
			}
		}
		footer{
			.container{
				.col-sm-8{
					margin-right: 13%;
				}
				.copyright{
					a{
						&.logo{
							width: 180px;
						}
					}
				}
			}
		}
	}
	@media only screen and (min-width: 1500px) {
		font-size: 100%;
	}
  @media only screen and (max-width: 960px) {
        .with_padding{
				.col-sm-10{
					width: 100%;
					margin-right: 0%;
					&:last-child{
						margin-right: 0;
					}
				}
                                .col-sm-7{
					width: 100%;
					margin-right: 0%;
					&:last-child{
						margin-right: 0;
					}
				}
			}
        
        
}
}

//MENU FIXES
a.ccm-panel-add-block-draggable-block-type img{
	max-width: initial !important;
    height: 24px !important;
}
div#ccm-panel-add-block div.ccm-panel-add-block-set header{
	top: initial;
    width: 100%;
    background-color: initial;
    position: relative;
    margin-bottom: 10px;
}

div#ccm-panel-page header, div#ccm-panel-compose-page header{
	top: 0 !important;
    position: relative !important;
    width: 100% !important;
}

div#ccm-panel-detail-page-composer header{
	top: 0 !important;
    position: relative !important;
    width: 100% !important;
    padding: 15px !important;
}