.ccm-block-express-form.footer{
	width: 100%;
	fieldset{
		border: 0;
		outline: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		label, span{
			display: none;
		}
		input[type="text"]{
			box-sizing: border-box;
			background-color: #495162;
			border: 0;
			outline: 0;
			color: white;
			font-size: 1.11em;
			padding: 1.45em 0;
			width: 100%;
			border-radius: 45px;
			padding-left: 18%;
			font-family: 'Montserrat', sans-serif;
		}
		.form-group{
			float: left;
			width: 100%;
			margin-bottom: 2em;
			&:first-child{
				input[type="text"]{
					background-image: url(img/name_icon.png);
					background-position: 7.5% center;
					background-repeat: no-repeat;
					background-size: 30px;
				}
			}
			&:last-child{
				input[type="text"]{
					background-image: url(img/email_icon.png);
					background-position: 7.5% center;
					background-repeat: no-repeat;
					background-size: 25px;
				}
			}
		}
		::placeholder {
			color: white;
			font-weight: 500;
		}
		:-ms-input-placeholder {
			color: white;
			font-weight: 500;
		}
		::-ms-input-placeholder {
			color: white;
			font-weight: 500;
		}
	}
	.form-actions{
		width: 100%;
		float: left;
		button{
			font-family: 'Montserrat', sans-serif;
			font-weight: 600;
			-webkit-appearance: none;
			appearance: none;
			-ms-appearance: none;
			background-color: #266f78;
			outline: 0;
			border: 0;
			text-align: center;
			font-size: 1.11em;
			padding: 1.45em 0;
			width: 100%;
			color: white;
			border-radius: 45px;
			cursor: pointer;
			-moz-transition: background-color 0.15s linear;
			-webkit-transition: background-color 0.15s linear;
			-o-transition-property: background-color 0.15s linear;
			-ms-transition-property: background-color 0.15s linear;
			transition-property: background-color 0.15s linear;
			&:hover{
				background-color: #184b4e;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		width: 97%;
		margin: 0 auto;
		.ccm-dashboard-express-form{
			width: 66%;
			margin-right: 3%;
			float: left;
		}
		fieldset{
			.form-group{
				width: 45.5%;
				margin-right: 7%;
				margin-bottom: 0;
				&:first-child{
					input[type="text"]{
						padding-left: 27%;
					}
				}
				&:last-child{
					margin-right: 0;
					input[type="text"]{
						padding-left: 27%;
					}
				}
			}	
		}
		.form-actions{
			width: 30%;
		}
	}
	@media only screen and (min-width: 960px) {
		fieldset{
			.form-group{
				&:first-child{
					input[type="text"]{
						padding-left: 18%;
					}
				}
				&:last-child{
					input[type="text"]{
						padding-left: 18%;
					}
				}
			}	
		}
	}
}