/* 5.8.0+ */

.ccm-ui select.input-sm {
    line-height: inherit !important;
}

/* 5.7.4+ */
#rule-editor {
    margin-top: 10px
}

div.radioBtn .notActive {
    color: #3276b1;
    background: #fff
}

table.ccm-search-results-table {
    table-layout: fixed
}

#afx-table-1 tbody td {
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 10px
}
#afx-table-1 tbody td.first-td {
    padding: 10px 20px
}

#afx-table-1 thead th.first-th {
    padding:0 10px;
}

table#afx-table-1 thead th a, table#afx-table-1  thead th span {
    padding:10px 10px 10px 10px;
}

.afx-border-bottom {
    border-bottom: solid 1px #ddd
}

#afx-quick-add-container {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #777;
    margin: 0 20px;
    padding: 19px;
    background: #f5f5f5
}

#afx-quick-add-container label {
    margin-left: 20px
}

#afx-quick-add-validation {
    margin: 0 20px 3px
}

#afx-quick-add-container .afx-r-type > div:nth-of-type(1) {
    float: right;
    margin: 0 0 0 5px
}

#afx-quick-add-container div.ccm-page-selector,
#afx-quick-add-container div.ccm-file-selector {
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
    width: 175px;
    border: solid 1px #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin: 0;
    padding: 5px 10px;
    background: #fff
}

#afx-quick-add-container #from-url-group {
    width:250px;
    display:inline-table;
}

#afx-quick-add-container select {
    border-radius: 3px;
    color: #555;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif
}

#afx-quick-add-container #rToURL {
    width: 175px
}

#afx-quick-add-container div.ccm-file-selector-choose-new {
    color: #428bca;
    text-decoration: none;
    padding: 1px 0 0 2px
}

#afx-quick-add-container div.ccm-page-selector-page-selected-title {
    white-space: nowrap
}

.afx-quick-add-title {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #777;
    margin: 2px 10px 2px 0
}

.ui-sortable-helper {
    outline: thin solid #000
}

.afx-ctrls-text {
    color: #999;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif
}

.afx-ctrls-bulk-action {
    margin: 0 0 8px 20px
}

.afx-ctrls-entries-display {
    margin: 20px 0 0 20px
}

.afx-ctrls-pagination {
    margin: 4px 20px 0 0
}

#afx-quick-add-container .afx-r-type-cid > label:nth-of-type(1),
#afx-quick-add-container .afx-r-type-fid > label:nth-of-type(1) {
    margin: 5px 0 0 20px
}

.afx-ctrls-entries-sel, .afx-ctrls-search {
    margin: 0 20px 8px 0
}

@media (max-width: 1024px) {
    #afx-table-1 tbody td {
        padding:5px 10px;
        white-space:normal;
    }
}

@media (max-width: 1199px) {
    table.ccm-search-results-table thead th span.afx-th-checkbox, .ccm-ui table.ccm-search-results-table thead tr th span.afx-th-checkbox {
        padding:10px 0px 10px 18px;
    }
}