@mixin transition($place, $time) {
	-moz-transition: $place $time linear;
	-webkit-transition: $place $time linear;
	-o-transition-property: $place $time linear;
	-ms-transition-property: $place $time linear;
	transition-property: $place $time linear;
}

.carousel{
	font-size: 80%;
	position: relative;
	margin: 2em 0;
	.item{
		position: absolute;
		width: 56%;
		transform: scale(0.65);
		z-index: 1;
		left: 100%;
		margin: auto;
		transform: scale(0.45);
		@include transition(transform, 0.333s);
		&.active{
			left: 0;
			right: 0;
			margin: auto;
			transform: scale(1);
			z-index: 2;
			p{
				opacity: 1;
			}
		}
		&.outgoing{
			transform: scale(0.65);
		}
		&.incomingin, &.next, &.prev{
			transform: scale(0.65);
		}
		&.outgoingout{
			transform: scale(0.45);
		}
		&.incoming{
			transform: scale(1);
		}
		&.next{
			left: 68%;
		}
		&.prev{
			left: -24%;
		}
		.img{
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 0;
			display: block;
			padding-bottom: 60%;
			-webkit-box-shadow: 7px 10px 19px 2px rgba(0,0,0,0.2);
			-moz-box-shadow: 7px 10px 19px 2px rgba(0,0,0,0.2);
			box-shadow: 7px 10px 19px 2px rgba(0,0,0,0.2);

		}
		.play{
			background-color: #199c9c;
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-image: url(img/right_triangle.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 14px;
			margin: -9% auto 0;
			-webkit-box-shadow: 7px 10px 19px 2px rgba(0,0,0,0.2);
			-moz-box-shadow: 7px 10px 19px 2px rgba(0,0,0,0.2);
			box-shadow: 7px 10px 19px 2px rgba(0,0,0,0.2);
		}
		p{
			font-weight: 700 !important;
			max-width: 75%;
			margin: 0 auto !important;
			text-align: center;
			line-height: 1.5em !important;
			padding: 1em 0 0;
			opacity: 0;
		}
	}
	a.prev, a.next{
		width: 34px;
		height: 34px;
		background-image: url(img/left_arrow.png);
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 11%;
		display: block;
		@include transition(opacity, 0.15s);
		&:hover{
			opacity: 0.75;
		}
	}
	a.prev{
		background-image: url(img/left_arrow.png);
		left: 4%;
	}
	a.next{
		background-image: url(img/right_arrow.png);
		right: 4%;
	}
	@media only screen and (min-width: 768px) {
		font-size: 100%;
		.item{
			.play{
				width: 100px;
				height: 100px;
			}
		}	
	}
}